<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body class="d-flex flex-column">
  <div th:replace="common/header :: navbar"> </div>

  <div class="container page-content">
    <div class="row">
      
       <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body text-center">
            <img src="/image/user/user.png" width="100" height="100" alt="User" class="rounded-circle mb-3">
            <h5 class="bold mb-0" th:text="${#strings.capitalize(user.username)}"></h5>
            <small class="text-secondary" th:text="'Last seen '+${#dates.format(#dates.createNow(), 'MMM dd, yyyy')}"></small>       
          </div>
          <div class="list-group list-group-flush">
            <a th:href="@{/my-profile}" class="list-group-item list-group-item-action"><i data-feather="user" class="mr-3"></i> Profile</a>
            <a th:href="@{/my-orders}" class="list-group-item list-group-item-action"><i data-feather="shopping-bag" class="mr-3"></i> Orders</a>
            <a th:href="@{/my-address}" class="list-group-item list-group-item-action"><i data-feather="map" class="mr-3"></i> Address</a>
             <a th:href="@{/reset-password}" class="list-group-item list-group-item-action"><i data-feather="lock" class="mr-3"></i> Reset Password</a>
            <a th:href="@{/affiliate}" class="list-group-item list-group-item-action active"><i class="fa fa-rupee mr-3"></i> Affiliate</a>
            <a th:href="@{/logout}" class="list-group-item list-group-item-action text-danger"><i data-feather="log-out" class="mr-3"></i> Logout</a>
          </div>
        </div>
      </div>
      
       <div class="col mt-3 mt-md-0">          
       	  <div th:if="${AffiliateUpdateSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
       	  	<strong>Congratulations...!! </strong>
          	<p>Your are now registered as an Affiliate member. Please visit <a th:href="@{https://www.somodesk.in}" th:target="_blank">Somodesk.in!</a> to know more and earn !</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div th:if="${affiliateAlreadyMember}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>You are already an Affiliate Member..!!!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>          
          <div class="card">
            <div class="card-body">
              <h3>Affiliate Membership</h3><hr>
              <form th:action="@{/becomeAffiliate}" method="post">
    
                   <div class="alert alert-success alert-dismissible fade show">
				      <strong>Do you want to become an affiliate ?</strong>
				      <div class="d-flex mt-2">
				        <!-- <a th:href="@{/store}" class="btn btn-info rounded-pill mx-2"> Yes..!<i data-feather="arrow-right"> </i></a>  -->
				        <button type="submit" class="btn btn-success rounded-pill mx-2"> Yes </button>          
				        <a th:href="@{/my-profile}" class="btn btn-danger rounded-pill mx-2"><i data-feather="feather-clock"></i> Later</a>
				        <a th:href="@{/store}" class="btn btn-primary rounded-pill mx-2"><i data-feather="arrow-left"></i>Back to Store</a>
				      </div>
				    </div>
              </form>
             
            </div>
          </div>
        </div>
        
    </div>
  </div> <!--  end container -->
  
  <div th:replace="common/header :: footer"> </div>
  
  
  <div th:replace="common/header :: body-scripts"> </div>
</body>
</html>