<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body class="d-flex flex-column">
  <div th:replace="common/header :: navbar"> </div>

  <div class="container page-content">   
    <form th:action="@{/checkout}" method="post">
      <div class="row">      

        <!-- Checkout Info -->                         
        <div class="col-lg-8 mb-3" >
          <div th:if="${missingRequiredField}">
            <h5 class="alert alert-warning">There are some required fields missing.</h5>
          </div>          
          <div id="accordion">
            <div class="card">
              <div class="card-header bg-white" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link checkout-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    REVIEW ITEMS <i data-feather="chevron-down" class="mb-1"></i>
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body border-bottom">                
                  <div class="row align-items-center border-bottom  pb-2 pt-2" th:each="cartItem : ${cartItemList}">
                    <div class="col-12 col-md-6 mb-2">
                      <div class="row align-items-center">                      
                        <div class="col-4">
                          <a th:href="@{/article-detail?id=}+${cartItem.article.id}"><img class="img-fluid" th:src="${cartItem.article.picture}" alt="${cartItem.article.title}"></a>
                        </div>
                        <div class="col-8">
                          <a th:href="@{/article-detail?id=}+${cartItem.article.id}" class="h6 bold d-inline-block" th:text=${cartItem.article.title}></a>
                            <div><i data-feather="check-circle" class="text-success"></i> In Stock</div>                  
                            <div><small><b>Size</b>: <span th:text="${cartItem.size}"></span></small></div>                  
                            <small><b>Unit Price</b>: <i class="fa fa-rupee"></i> <span th:text="${#numbers.formatDecimal(cartItem.article.price, 0, 'COMMA', 2, 'POINT')}"></span></small>
                        </div>
                      </div> 
                    </div>  
                    <div class="col-12 col-md-6 text-right">
                      <span>x<span th:text="${cartItem.qty}"></span> units: </span>                           
                      <span class="font-weight-bold text-info"> <i class="fa fa-rupee"></i> <span th:id="'price'+${cartItem.id}" th:text="${#numbers.formatDecimal(cartItem.subtotal, 0, 'COMMA', 2, 'POINT')}"></span></span>
                    </div>                  
                  </div>                  
                  <div class="text-center mx-auto">
                    <small class="counter"><span>TOTAL (<span th:text="${shoppingCartItemNumber} > 0 ? ${shoppingCartItemNumber}"></span> item(s))</span></small>
                    <h3 class="font-weight-bold"> <i class="fa fa-rupee"></i> <span th:text="${#numbers.formatDecimal(shoppingCart.getGrandTotal(), 0, 'COMMA', 2, 'POINT')}"></span></h3>
                  </div>                    
                  <div class="d-flex flex-wrap justify-content-between align-items-center mt-3">      
                    <a th:href="@{/shopping-cart/cart}" class="btn btn-info rounded-pill  "><i data-feather="arrow-left"></i> Edit cart</a>           
                    <a data-toggle="collapse" data-parent="#accordion"
                        class="btn btn-primary rounded-pill " href="#collapseTwo">Next <i data-feather="arrow-right"></i></a>
                  </div>
                </div>                 
              </div>
            </div>
            <div class="card">
              <div class="card-header bg-white" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link checkout-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    DELIVERY ADDRESS <i data-feather="chevron-down" class="mb-1"></i>
                  </button>
                </h5>
              </div>    
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body border-bottom">
                  <div class="form-row">
                  <p class="text-danger font-weight-bold" id="errordeladd"></p>
                  
                      <input hidden="hidden" name="addresstype" th:value="2">
                      <div class="form-group col-12">
                        <label for="deladdtype" class="radio-inline">Address Type</label> &nbsp; &nbsp; 
        			    <label class="radio-inline"><input type="radio" name="deladdtype" id="deladdtypeH" value="1" checked="checked"> HOME</label> &nbsp; &nbsp; 
                        <label class="radio-inline"><input type="radio"  name="deladdtype" id="deladdtypeO" value="2"> OFFICE</label>
        			</div>
                    <div class="form-group col-12">
                      <input type="text" class="form-control" id="receiver" name="receiver" required="required" placeholder="Receiver's Name / Company Name"/>
                    </div>  
                    <div class="form-group col-12">
                      <input type="text" class="form-control" id="flatshop" name="flatshop" required="required" placeholder="Flat no / Shop no , Building Name"/>
                    </div>
                    <div class="form-group col-12">
 					  <input type="text" class="form-control" id="streetAddress" name="streetAddress" required="required" placeholder="Street / Area / Locality"/>
                    </div>
                    <div class="form-group col-4">
                     <input type="text" class="form-control" id="city" th:name="city" required="required" placeholder="City"/>
                    </div>
                    <div class="form-group col-4">
                     <input type="text" class="form-control" id="country" th:name="country" required="required" th:value="India" readonly="readonly"/>
                    </div>
                    <div class="form-group col-4">
                       <input type="text" pattern="^[1-9][0-9]{5}$" th:minlength="6" th:maxlength="6" class="form-control" id="zipCode" th:name="zipCode" required="required" placeholder="Pincode"/>
                    </div>   
                      <div class="form-group col-12">
                      <input type="text" class="form-control" id="landmark" name="landmark" required="required" placeholder="Landmark"/>
                    </div>                                     
                  </div>
                  <div class="mt-2 text-right">
                    <a data-toggle="collapse" data-parent="#accordion" id="delAddLink"
                      class="btn btn-primary rounded-pill" href="#collapseThree" onClick="validateDelAdd()">Next <i data-feather="arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            
             <div class="card">
              <div class="card-header bg-white" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link checkout-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    BILLING ADDRESS <i data-feather="chevron-down" class="mb-1"></i>
                  </button>
                </h5>
              </div>    
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body border-bottom">
                  <div class="form-row">
                   <p class="text-danger font-weight-bold" id="errorbilladd"></p>
                    <div class="form-group col-12">
                      <input type="text" class="form-control" id="billname" name="billname" required="required" placeholder="Billing Name"/>
                    </div>  
                  
                  <div class="form-group col-12">
                    <div class="form-check">
				      <input class="form-check-input" type="checkbox" id="biilcheck">
				      <label class="form-check-label" for="biilcheck">Same as Delivery Address</label>
				    </div>
                   </div>
                     <div class="form-group col-12">
                        <label for="billaddtype" class="radio-inline">Address Type</label> &nbsp; &nbsp; 
        			    <label class="radio-inline"><input type="radio" name="billaddtype" value="1" checked="checked"> HOME</label> &nbsp; &nbsp; 
                        <label class="radio-inline"><input type="radio"  name="billaddtype" value="2"> OFFICE</label>
        			</div>
                    <div class="form-group col-12">
                      <input type="text" class="form-control" id="billflatshop" name="billflatshop" required="required" placeholder="Flat no / Shop no , Building Nane"/>
                    </div>
                    <div class="form-group col-12">
 					  <input type="text" class="form-control" id="billstreetAddress" name="billstreetAddress" required="required" placeholder="Street / Area / Locality"/>
                    </div>
                    <div class="form-group col-4">
                     <input type="text" class="form-control" id="billcity" th:name="billcity" required="required" placeholder="City"/>
                    </div>
                    <div class="form-group col-4">
                     <input type="text" class="form-control" id="billcountry" th:name="billcountry" required="required" th:value="India" readonly="readonly"/>
                    </div>
                    <div class="form-group col-4">
                       <input type="text" pattern="^[1-9][0-9]{5}$" th:minlength="6" th:maxlength="6" class="form-control" id="billzipCode" th:name="billzipCode" required="required" placeholder="Pincode"/>
                    </div>   
                      <div class="form-group col-12">
                      <input type="text" class="form-control" id="billlandmark" name="billlandmark" required="required" placeholder="Landmark"/>
                    </div>                                    
                  </div>
                  <div class="mt-2 text-right">
                    <a data-toggle="collapse" data-parent="#accordion"
                      class="btn btn-primary rounded-pill" href="#collapseFour"  id="billAddLink" onClick="validateBillAdd()">Next <i data-feather="arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
           
           
            <div class="card">
              <div class="card-header bg-white" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link checkout-header collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    PAYMENT  <i data-feather="chevron-down" class="mb-1"></i>
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
               <div class="card-body border-bottom">
                 <p> As per the company policy, Cash On Delivery is Applicable only.</p>    
               </div>
                
                <!-- 
                <div class="card-body border-bottom">
                  <div class="row">
                    <div class="col-12">
                      <img src="/image/creditcard.png" class="img-fluid mb-2" /><br />
                      <div class="form-group">
                        <label for="cardType">Select Card Type: </label> <select
                          class="form-control" id="cardType" name="type">
                          <option value="visa">Visa</option>
                          <option value="mastercard">Mastercard</option>
                          <option value="discover">Discover</option>
                          <option value="amex">American Express</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="cardHolder">Card Holder Name:</label> <input
                          type="text" class="form-control" id="cardHolder"
                          required="required" th:name="holderName">
                      </div>
                      <div class="form-group">
                        <label for="cardNumber">Card Number:</label>
                        <div class="input-group">
                          <input type="tel" class="form-control" id="cardNumber"
                            required="required" th:name="cardNumber">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-7">
                      <div class="form-group">
                        <label>Expiration Date</label>
                        <div class="row">
                          <div class="col-6">
                            <select class="form-control" name="expiryMonth"
                              required="required">
                              <option disabled="disabled">-- Month --</option>
                              <option value="1">Jan (01)</option>
                              <option value="2">Feb (02)</option>
                              <option value="3">Mar (03)</option>
                              <option value="4">Apr (04)</option>
                              <option value="5">May (05)</option>
                              <option value="6">June (06)</option>
                              <option value="7">July (07)</option>
                              <option value="8">Aug (08)</option>
                              <option value="9">Sep (09)</option>
                              <option value="10">Oct (10)</option>
                              <option value="11">Nov (11)</option>
                              <option value="12">Dec (12)</option>
                            </select>
                          </div>
                          <div class="col-6">
                            <select class="form-control" name="expiryYear">
                              <option disabled="disabled">-- Year --</option>
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                              <option value="2024">2024</option>
                              <option value="2025">2025</option>
                              <option value="2026">2026</option>
                              <option value="2027">2027</option>
                              <option value="2028">2028</option>
                              <option value="2029">2029</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <label for="cardCVC">CV Code</label> <input id="cardCVC"
                          type="tel" class="form-control" name="cvc"/>
                      </div>
                    </div>
                  </div>  
                  <div class="mt-2 text-right">
                    <a data-toggle="collapse" data-parent="#accordion"
                      class="btn btn-primary rounded-pill" href="#collapseThree">Next <i data-feather="arrow-right"></i></a>
                  </div>                
                </div>                
             
             -->
              </div>
            </div>            
          </div> <!--  end accordion -->          
        </div>
        
        
        <!-- Summary Panel -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header bg-white checkout-header">ORDER SUMMARY</div>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <span>Cart subtotal</span>
                <span> <i class="fa fa-rupee"></i> <span th:text="${#numbers.formatDecimal(shoppingCart.getGrandTotal(), 0, 'COMMA', 2, 'POINT')}"> </span></span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Shipping</span>
                <span> <i class="fa fa-rupee"></i> 0.00</span>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <span>Total (<span th:text="${shoppingCartItemNumber} > 0 ? ${shoppingCartItemNumber}"></span> item(s))</span>                
                <span class="font-weight-bold"> <i class="fa fa-rupee"></i> <span th:text="${#numbers.formatDecimal(shoppingCart.getGrandTotal(), 0, 'COMMA', 2, 'POINT')}"> </span></span>
              </div>
            </div>
            <div class="card-footer bg-white border-top-0">
              <button type="submit" class="btn btn-primary rounded-pill btn-lg btn-block mt-2 mb-3">
              Place your order
              </button>            
              <p style="font-size: smaller;">
                By placing your order, you agree to Somodesk <a href="#">privacy</a>
                notice and <a href="#">conditions</a>.</p>                   
            </div>
          </div>       
        </div>        
      </div>
    </form>             
    
  </div> <!--  end container -->
  
  <div th:replace="common/header :: footer"> </div>  
  <div th:replace="common/header :: body-scripts"> </div>
 
  <script>
  $(function() {
		$('#biilcheck').on('change', function(e) {

			if($(this).is(':checked')) {
		  	//alert('Yes');
		  	 var deladdtype = $('#deladdtype').val();
		  	 var flatshop = $('#flatshop').val();
		  	 var streetAddress = $('#streetAddress').val();
		  	 var city = $('#city').val();
		  	 var country = $('#country').val();
		  	 var zipCode = $('#zipCode').val();
		  	 var landmark = $('#landmark').val();
		  	 $('#billaddtype').val();
		  	 $('#billflatshop').val(flatshop);
		  	 $('#billstreetAddress').val(streetAddress);
		  	 $('#billcity').val(city);
		  	 $('#billcountry').val(country);
		  	 $('#billzipCode').val(zipCode);
		  	 $('#billlandmark').val(landmark);
		  	 
		  } else {
		  	//alert('No');
		  	 $('#billflatshop').val('');
		  	 $('#billstreetAddress').val('');
		  	 $('#billcity').val('');
		  	 $('#billcountry').val('');
		  	 $('#billzipCode').val('');
		  	 $('#billlandmark').val('');
		  }
		});
	});
  
  function validateDelAdd()
  {
	    var haserror = false;
	     $('#errordeladd').html('');
	     var errormsg = '';
	    // var deladdtype = $("input[name='deladdtype']:checked").val();
	    var receiver = $('#receiver').val();
	  	 var flatshop = $('#flatshop').val();
	  	 var streetAddress = $('#streetAddress').val();
	  	 var city = $('#city').val();
	  	 var country = $('#country').val();
	  	 var zipCode = $('#zipCode').val();
	  	 var landmark = $('#landmark').val();
	  	 
    	/*if((deladdtype) == null || (typeof(deladdtype) == 'undefined') || (deladdtype.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 $('#errordeladd').html('Please select the Address Type for delivery.');
		}*/
		 $('#receiver').css('border', ''); 
		if((receiver) == null || (typeof(receiver) == 'undefined') || (receiver.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 errormsg = 'Please enter the receiver name / company name <br>' ;
    		 $('#receiver').css('border', 'solid 2px red');  
		}
		 $('#flatshop').css('border', ''); 
		if((flatshop) == null || (typeof(flatshop) == 'undefined') || (flatshop.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 errormsg += 'Please enter flat number / building name  <br>' ;
    		 $('#flatshop').css('border', 'solid 2px red'); 
		}
		 $('#streetAddress').css('border', ''); 
		if((streetAddress) == null || (typeof(streetAddress) == 'undefined') || (streetAddress.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 errormsg += 'Please enter the street / locality / area <br>' ;
    		 $('#streetAddress').css('border', 'solid 2px red'); 
		}
		 $('#city').css('border', ''); 
		if((city) == null || (typeof(city) == 'undefined') || (city.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 errormsg += 'Please enter the city  <br>' ;
    		 $('#city').css('border', 'solid 2px red'); 
		}
		 $('#country').css('border', ''); 
		if((country) == null || (typeof(country) == 'undefined') || (country.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 errormsg += 'Please enter the country name  <br>' ;
    		 $('#country').css('border', 'solid 2px red'); 
		}
		 $('#zipCode').css('border', ''); 
		if((zipCode) == null || (typeof(zipCode) == 'undefined') || (zipCode.toString().trim().length) < 6 || (/^[1-9][0-9]{5}$/.test(zipCode.toString()) == false))
		{
    		 haserror = true;
    		 errormsg += 'Please enter a valid pincode <br>' ;
    		 $('#zipCode').css('border', 'solid 2px red'); 
		}
		 $('#landmark').css('border', ''); 
		if((landmark) == null || (typeof(landmark) == 'undefined') || (landmark.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 errormsg += 'Please enter the landmark  <br>' ;
    		 $('#landmark').css('border', 'solid 2px red'); 
		}
		
		var link = document.getElementById("delAddLink");
    	if(haserror)
    	{
    		 $('#errordeladd').html(errormsg);
    		//stay on the same accoordian
    	    link.setAttribute('href', "#");
    	}
    	else
    	{
    	    link.setAttribute('href', "#collapseThree");
    	}
	  
  }
  
  function validateBillAdd()
  {
	    var haserror = false;
	     $('#errorbilladd').html('');
	     var errormsg = '';
	    // var deladdtype = $("input[name='deladdtype']:checked").val();
	    var billname = $('#billname').val();
	  	 var flatshop = $('#billflatshop').val();
	  	 var streetAddress = $('#billstreetAddress').val();
	  	 var city = $('#billcity').val();
	  	 var country = $('#billcountry').val();
	  	 var zipCode = $('#billzipCode').val();
	  	 var landmark = $('#billlandmark').val();
	  	 
    	/*if((deladdtype) == null || (typeof(deladdtype) == 'undefined') || (deladdtype.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 $('#errordeladd').html('Please select the Address Type for delivery.');
		}*/
		 $('#billname').css('border', ''); 
		if((billname) == null || (typeof(billname) == 'undefined') || (billname.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 errormsg = 'Please enter the billing name <br>' ;
    		 $('#billname').css('border', 'solid 2px red');  
		}
		 $('#billflatshop').css('border', ''); 
		if((flatshop) == null || (typeof(flatshop) == 'undefined') || (flatshop.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 errormsg += 'Please enter flat number / building name  <br>' ;
    		 $('#billflatshop').css('border', 'solid 2px red'); 
		}
		 $('#billstreetAddress').css('border', ''); 
		if((streetAddress) == null || (typeof(streetAddress) == 'undefined') || (streetAddress.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 errormsg += 'Please enter the street / locality / area <br>' ;
    		 $('#billstreetAddress').css('border', 'solid 2px red'); 
		}
		 $('#billcity').css('border', ''); 
		if((city) == null || (typeof(city) == 'undefined') || (city.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 errormsg += 'Please enter the city  <br>' ;
    		 $('#billcity').css('border', 'solid 2px red'); 
		}
		 $('#billcountry').css('border', ''); 
		if((country) == null || (typeof(country) == 'undefined') || (country.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 errormsg += 'Please enter the country name  <br>' ;
    		 $('#billcountry').css('border', 'solid 2px red'); 
		}
		 $('#billzipCode').css('border', ''); 
		if((zipCode) == null || (typeof(zipCode) == 'undefined') || (zipCode.toString().trim().length) < 6 || (/^[1-9][0-9]{5}$/.test(zipCode.toString()) == false))
		{
    		 haserror = true;
    		 errormsg += 'Please enter a valid pincode <br>' ;
    		 $('#billzipCode').css('border', 'solid 2px red'); 
		}
		 $('#billlandmark').css('border', ''); 
		if((landmark) == null || (typeof(landmark) == 'undefined') || (landmark.toString().trim().length) <= 0)
		{
    		 haserror = true;
    		 errormsg += 'Please enter the landmark  <br>' ;
    		 $('#billlandmark').css('border', 'solid 2px red'); 
		}
		
		var link = document.getElementById("billAddLink");
    	if(haserror)
    	{
    		 $('#errorbilladd').html(errormsg);
    		//stay on the same accoordian
    	    link.setAttribute('href', "#");
    	}
    	else
    	{
    	    link.setAttribute('href', "#collapseFour");
    	}
	  
  }
  
  
  </script>
</body>
</html>