<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<meta charset="utf-8" />
<head th:replace="common/headerlogin :: common-header"/>
<head>
<style>
body {
 background-image: url('/image/background/7.jpg');
 background-size:99%;
 -ms-background-size: 99%;
 -o-background-size: 99%;
 -moz-background-size: 99%;   
 -webkit-background-size: 99%;
}

     ul.breadcrumb {
	  background-color: #ffffff;
	}

  
</style>
</head>

<body class="d-flex flex-column">
  <div th:replace="common/headerlogin :: navbar"> </div>
  
<!-- nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/ecom_login}">Login</a></li>
	  </ol>
</nav -->
	
<div class="container my-4 my-sm-5 page-content">
 	<div class="row">
          <aside class="col-sm-4">
		  </aside>
          
          <aside class="col-sm-4">
          <div class="card">
           <article class="card-body">
            <!-- Login Form -->
              <form th:action="@{/ecom_login}" method="post" >
                <div class="form-group text-center mb-2">
                  <h2 class="mb-0">Log In</h2>
                  <em>to your account</em>
                </div>
                <div class="form-group">
                  <div class="input-icon"> 
                    <i data-feather="user"></i> 
                    <input required="required" type="text" class="form-control" placeholder="Email" name="email" 
                           th:classappend="${param.error} ? is-invalid" >
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-icon"> 
                    <i data-feather="lock"></i> 
                    <input required="required" type="password" class="form-control" placeholder="Password" name="password" 
                           th:classappend="${param.error} ? is-invalid" >
                    <div class="invalid-feedback">Incorrect username or password</div>  
                  </div>                    
                </div>
                <div class="form-group d-flex justify-content-between">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                      class="custom-control-input" id="loginRemember" name="remember-me">
                    <label class="custom-control-label"
                      for="loginRemember">Remember me</label>
                  </div>
                  <a href="#" class="text-primary small reset">Forgot
                      password ?</a>
                </div>
                <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
              </form>
              <br/>
                <p class="d-none d-lg-block">
              <span th:if="${showSignup == true}">
				<!-- <span class="text-primary small justify-content-between"><em> Don't have an account? </em> <a th:href="@{'http://localhost:9991/register' + '/refValue='+ ${refValue} + '_prodID=' + ${prodID}}"> SignUp </a> </span> -->
				<span class="text-primary small justify-content-between"><em> Don't have an account? </em> <a th:href="@{/ecom_register}"> SignUp </a> </span> 
		     </span>
			</p>
			 <!-- /Login Form -->
			</article>
          </div>
        </aside>
     </div>
</div>
  
  
  <div th:replace="common/headerlogin :: footer"> </div>
  <div th:replace="common/headerlogin :: body-scripts"> </div>
  
</body>
</html>