<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml" xmlns:sec="http://www.w3.org./1999/xhtml">
<meta charset = "utf-8" /> 
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="description" content="Somodesk is a B2B and B2C e-commerce platform with a difference. Sell more with a trusted Affiliate network">
<meta name="keywords" content="Affiliate franchisee e-commerce Somodesk B2B B2C INDIA unique products">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<head>
   <title>Somodesk E-commerce Site</title>  
    <link rel="icon" href="/image/logos/somodesk-logo.png" type="image/png"> 
   <!--   added for sliders 2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- required for tool tip as well -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

 <!-- For 3 part Grid -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">

<!-- Carousel Slider -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>

 .nav1 {
    margin-bottom:0;
}
  
  /* 65vh , 350px; orig*/
   /* 82vh , 380px; working*/
 /* .carousel-item {
  height: 82vh;
  min-height: 380px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

.carousel slide {
  height: 50vh;
  min-height: 300px;
  height:300px;
}


html,body,h1,h2,h3,h4 {font-family: montserrat,sans-serif;
    -webkit-font-smoothing: antialiased;}
body
{background-color: #f1f1f1;}
/*background-color: #f4e9f9;*/
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}


a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* ------- navigation bar --------------------------------- */
.topnav {
  overflow: hidden;
 /* background-color: #333;*/
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: #007bff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  
}

.topnav a.active {
  background-color: #ddd;
  color: black;
}

.topnav .logo {
  float: left;
  display:block;
}

.topnav .nav-right {
  float: right;
  display: block;
  color: #007bff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 813px) {
  /*.topnav a:not(:first-child) {display: none;}*/
  .topnav a{display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 813px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* -------------- footer ----------------------- */
.footer{background:#fff;padding-top:30px}
.footer__about{margin-bottom:30px}
.footer__about p{margin-bottom:20px}
.footer__logo{margin-bottom:20px}
.footer__payment a{margin-right:6px;margin-bottom:10px;display:inline-block}
.footer__payment a:last-child{margin-right:0}
.footer__widget{margin-bottom:30px}
.footer__widget h6{color:#111;font-weight:600;text-transform:uppercase;margin-bottom:12px}
/*.footer__widget ul li{list-style:none}
.footer__widget ul li a{font-size:14px;color:#666;line-height:30px}
.footer__newslatter{margin-bottom:30px}*/
.footer__newslatter h6{color:#111;font-weight:600;text-transform:uppercase;margin-bottom:25px}
.footer__newslatter form{position:relative;margin-bottom:30px}
.footer__newslatter form input{height:52px;width:100%;border:1px solid #e1e1e1;border-radius:50px;padding-left:30px;font-size:14px;color:#666}
.footer__newslatter form input::-webkit-input-placeholder{color:#666}
.footer__newslatter form input::-moz-placeholder{color:#666}
.footer__newslatter form input:-ms-input-placeholder{color:#666}
.footer__newslatter form input::-ms-input-placeholder{color:#666}
.footer__newslatter form input::placeholder{color:#666}
.footer__newslatter form button{position:absolute;right:4px;top:4px}
.footer__social a{display:inline-block;height:40px;width:40px;background:#e1e1e1;font-size:15px;color:#111;line-height:40px;text-align:center;border-radius:50%;margin-right:6px;margin-bottom:5px}
.footer__social a:last-child{margin-right:0}
.footer__copyright__text{border-top:1px solid #e1e1e1;padding:18px 0 25px;text-align:center;margin-top:35px}
.footer__copyright__text p{margin-bottom:0}
.footer__copyright__text a{color:#5c5c5c}
.footer__copyright__text i{color:#ca1515}
.footer__copyright__text a:hover{color:#ca1515}




.col-item
{
    border: 2px solid #2323A1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
.col-item:hover .info {
    background-color: rgba(215, 215, 244, 0.5); 
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #00990E;
}

.rating-text-color
{
  color: #ffc000;
}

.col-item .info .rating
{
    color: #003399;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #FFCCCC;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #CC9999;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
  </style>
</head>
   
<body class="d-flex flex-column">

<!-- Single Navigation bar-->
<div class="topnav" id="myTopnav">
<div class="container-fluid">
<div class="row">
<div class="col-sm-2">
	<!-- span class="logo"><img src="/img/logo.png" alt="LOGO"></span-->
	<span class="logo"><img src="/image/logos/somodesk-logo.png" alt="LOGO" style="width:50px;height:40px"><img src="/image/logos/somodesk-txt3.png" alt="NAME"></span>
</div>
 <div class="col-sm-7">
  <a th:href="@{/}">Home</a>
 <!-- <a th:href="@{/wip}">Cherise</a> --> 
   <a th:href="@{/brands}">Brands</a>          
  <a th:href="@{/store}">Store</a>
  <a th:href="@{/aboutus}">About Us</a>          
 <!--   <li><a th:href="@{/wip}" class="nav-link">About Us</a></li>--> 
  <!-- <li  class="nav-item"><span class="icon_search search-switch nav-link"></span></li>-->
  <!--  <li><a th:href="@{/wip}" class="nav-link"><span class="icon_heart_alt"></span></a></li>-->
  <a th:href="@{/shopping-cart/cart}" th:if="${shoppingCartItemNumber} > 0" data-toggle="tooltip" data-placement="bottom" title="Shopping Cart">
	<span class="icon_bag_alt"></span><span class="tip" th:text="${shoppingCartItemNumber}"></span>
  </a>
  <a sec:authorize="hasRole('ADMIN')"  th:href="@{/article/article-list}" data-toggle="tooltip" data-placement="bottom" title="Admin Portal"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
</div>
 <div class="col-sm-3">
  <i><a sec:authorize="isAnonymous()" th:href="@{/ecom_login}">Login</a></i>
  <i><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></i>
  <a sec:authorize="isAuthenticated()" th:href="@{/my-profile}" data-toggle="tooltip" data-placement="bottom" title="My Account"><i class="fa fa-user"></i> Welcome, <span sec:authentication="name"></span></a>
</div>  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i> </a>
</div>
</div>
</div>
<!-- Single Navigation bar-->



<!-- Slider -->
<header>
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="object-fit:contain;">
      <div class="item active">
        <img src="/image/sliders/sm-slider.jpg" alt="Slider1" style="width:100%;height:400px;">
      </div>

      <div class="item">
        <img src="/image/sliders/DiwaliCard-1.jpg" alt="Slider2" style="width:100%;height:400px;">
      </div>
    
      <div class="item">
        <img src="/image/sliders/sm-slider3.jpg" alt="Slider3" style="width:100%;height:400px;">
      </div>      
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</header>
<br/>
<br/>
<!-- Slider -->


<div class="container">
   <div class="row">
            <div class="col-md-9">
                <h2>Our <b>Products</b></h2>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn" href="#carousel-example"  data-slide="prev"></a>
                    <a class="right fa fa-chevron-right btn" href="#carousel-example" data-slide="next"></a>
                </div>
            </div>
        </div>
    <div class="row">
     
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>Floor Cleaning Concentrate</h5>
                                            <h5 class="price-text-color"><i class="fa fa-rupee"></i> 1999.0</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="photo">
                                    <img src="/image/products/herofcc1.jpg" class="img-responsive" alt="a" style="object-fit:contain;width:260px;height:190px;"/>
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/articleList/Disinfectant" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>Premix Calcutta Elaichi Chai</h5>
                                            <h5 class="price-text-color"><i class="fa fa-rupee"></i> 77.00</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="photo">
                                    <img src="/image/products/elaichichai.jpg" class="img-responsive" alt="a"  style="object-fit:contain;width:260px;height:190px;"/>
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/articleList/Tea" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>CashClean 100L</h5>
                                            <h5 class="price-text-color"><i class="fa fa-rupee"></i> 25000.0</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="photo">
                                    <img src="/image/products/CashClean100L.jpg" class="img-responsive" alt="a"  style="object-fit:contain;width:260px;height:190px;"/>
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/articleList/Currency Counter" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>Premix Mumbai Masala Chai</h5>
                                            <h5 class="price-text-color"><i class="fa fa-rupee"></i> 77.0</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="photo">
                                    <img src="/image/products/herommc1.jpg" class="img-responsive" alt="a"  style="object-fit:contain;width:260px;height:190px;"/>
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/articleList/Tea" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <!-- >h5>Hygi – Ad 50 ml</h5 -->
                                             <h5>Test</h5>
                                            <h5 class="price-text-color"><i class="fa fa-rupee"></i> 90.0</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="photo">
                                    <img src="/image/testorig.jpg" class="img-responsive" alt="a"  style="object-fit:contain;width:260px;height:190px;"/>
                                    <!-- img src="/image/products/hygiadhero50.jpg" class="img-responsive" alt="a"  style="object-fit:contain;width:260px;height:190px;"/-->
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/articleList/Sanitizer" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>CashClean 100 LV</h5>
                                            <h5 class="price-text-color"><i class="fa fa-rupee"></i> 30990.0</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="photo">
                                    <img src="/image/products/CashClean100LV.jpg" class="img-responsive" alt="a"  style="object-fit:contain;width:260px;height:190px;" />
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/articleList/Currency Counter" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>Premix Delhi Adhrak Chai</h5>
                                            <h5 class="price-text-color"><i class="fa fa-rupee"></i> 77.0</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="photo">
                                    <img src="/image/products/heroda1.jpg" class="img-responsive" alt="a"  style="object-fit:contain;width:260px;height:190px;"/>
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/articleList/Tea" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>Fragrant Mister</h5>
                                            <h5 class="price-text-color"><i class="fa fa-rupee"></i>780.09</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="photo">
                                    <img src="/image/products/herofrag1.jpg" class="img-responsive" alt="a"  style="object-fit:contain;width:260px;height:190px;"/>
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/articleList/Disinfectant" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
            <div class="item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>Sani – ad : Surface</h5>
                                            <h5 class="price-text-color"><i class="fa fa-rupee"></i> 170.0</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="photo">
                                    <img src="/image/products/saniadhero1.jpg" class="img-responsive" alt="a" style="object-fit:contain;width:260px;height:190px;"/>
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/articleList/Disinfectant" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>Hygi – Ad 100 ml</h5>
                                            <h5 class="price-text-color"><i class="fa fa-rupee"></i> 135.00</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="photo">
                                    <img src="/image/products/hygiadhero100.jpg" class="img-responsive" alt="a"  style="object-fit:contain;width:260px;height:190px;"/>
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/articleList/Sanitizer" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>Sani – ad : Gadget</h5>
                                            <h5 class="price-text-color"><i class="fa fa-rupee"></i> 135.0</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="photo">
                                    <img src="/image/products/saniadgadhero1.jpg" class="img-responsive" alt="a"  style="object-fit:contain;width:260px;height:190px;"/>
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/articleList/Disinfectant" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>Hygi – Ad 250 ml</h5>
                                            <h5 class="price-text-color"><i class="fa fa-rupee"></i> 205.0</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                            <i class="rating-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="photo">
                                    <img src="/image/products/hygiadhero250.jpg" class="img-responsive" alt="a"  style="object-fit:contain;width:260px;height:190px;"/>
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/articleList/Sanitizer" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</div>



 <br>
 
 
 
 
 
 <!-- banner  -->
<div class="container">
<div class="row">
  <div class="col-md-6">
    <div class="card  mt-4">
     <div class="row">
       <div class="col-md-12">
      <a href="/"><img src="/image/banner/make-in-india-banner.jpg" class="card-img" alt=""></a>
      </div>
   </div>
    </div>
     
  </div>

 <div class="col-md-6">
    <div class="card mt-4">
     <div class="row">
      <div class="col-md-12">
       <a href="/"><img src="/image/banner/vocal-for-local-banner.jpg" class="card-img" alt="" ></a>
    </div>

   </div>
      </div>
  </div>
</div>
</div>
 
 <!-- banner ends -->
 
 <br>
 
 <!-- Multi Iten Carousel Slider-->
<div class="container my-4">
    <hr class="my-4">

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top" hidden="hidden">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active" hidden></li>
        <li data-target="#multi-item-example" data-slide-to="1" hidden></li>
        <!-- li data-target="#multi-item-example" data-slide-to="2"></li -->
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <!-- img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"  alt="Card image cap" -->
                <a href="/articleList/Disinfectant"><img class="card-img-top" src="/image/products/herofrag1.jpg"  alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"></a>
                <div class="card-body">
                  <h4 class="card-title">Fragrant Mister</h4>
                  <p class="card-text">A triple-action germicidal spray cum room freshner and repelent, Air O'Pure Fragrant Mister is ideal for disinfecting most surfaces.</p>
                   <div class="text-center"><a href="/articleList/Disinfectant" class="btn btn-primary">Shop Now</a></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <!-- mg class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"  alt="Card image cap" -->
                 <a href="/articleList/Currency Counter"><img class="card-img-top" src="/image/products/CashClean100LV.jpg"  alt="Card image cap"  style="object-fit:contain;width:255px;height:170px;"></a>
                <div class="card-body">
                  <h4 class="card-title">CashClean 100 LV</h4>
                  <p class="card-text">Checks for genuineness of currency in mixed denominations and provides the denomination-wise count with total value.</p>
                   <div class="text-center"><a href="/articleList/Currency Counter" class="btn btn-primary">Shop Now</a></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <!-- img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"  alt="Card image cap"-->
               <a href="/articleList/Tea"><img class="card-img-top" src="/image/products/elaichichai.jpg"  alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"></a>
                <div class="card-body">
                  <h4 class="card-title">Calcutta Elaichi Chai</h4>
                  <p class="card-text">Taste the 'Taste of Elite India' from the 'City of Joy'.A unique mix of handpicked cardomom fresh of the plantations.</p>
                   <div class="text-center"><a href="/articleList/Tea" class="btn btn-primary">Shop Now</a></div>
                </div>
              </div>
            </div>
         
           <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <!-- img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap" style="object-fit:contain;width:255px;height:170px;" -->
                <a href="/articleList/Disinfectant"><img class="card-img-top" src="/image/products/herofcc1.jpg"  alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"></a>
                <div class="card-body">
                  <h4 class="card-title">Floor Cleaning Concentrate</h4>
                  <p class="card-text">All natural and eco-friendly Cleaning Concentrate to keep your workplace safe and Mother Nature happy.</p><br>
                  <div class="text-center"> <a href="/articleList/Disinfectant" class="btn btn-primary">Shop Now</a></div>
                </div>
              </div>
            </div>
         
         
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <!-- img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"  alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"-->
                <a href="/articleList/Tea"><img class="card-img-top" src="/image/products/heroda1.jpg"  alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"></a>
                <div class="card-body">
                  <h4 class="card-title">Delhi Adrak Chai</h4>
                  <p class="card-text">A delicious infusion of ginger with a hint of aromatic lemon grass makes a perfect anxiety buster.</p><br><br><br>
                   <div class="text-center"><a href="/articleList/Tea" class="btn btn-primary align-center">Shop Now</a></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <!-- img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap" style="object-fit:contain;width:255px;height:170px;" -->
                <a href="/articleList/Currency Counter"><img class="card-img-top" src="/image/products/CashClean100L.jpg"  alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"></a>
                <div class="card-body">
                  <h4 class="card-title">CashClean 100 L</h4>
                  <p class="card-text">Single denomination Manual value counting for easy reconciliation with large LCD display for Cashier and separate Extended Display for Customer to indicate count of accepted currency.</p>
                   <div class="text-center"><a href="/articleList/Currency Counter" class="btn btn-primary">Shop Now</a></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <!-- img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"-->
                <a href="/articleList/Tea"><img class="card-img-top" src="/image/products/herommc1.jpg"  alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"></a>
                <div class="card-body">
                  <h4 class="card-title">Mumbai Masala Chai</h4>
                  <p class="card-text">A medley of handpounded spices such as clove, gindger, black pepper, cinnamon and nutmeg offer taste and health.</p><br><br>
                   <div class="text-center"><a href="/articleList/Tea" class="btn btn-primary">Shop Now</a></div>
                </div>
              </div>
            </div>
            
            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <!-- img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"-->
                <a href="/articleList/Tea"><img class="card-img-top" src="/image/products/saniadgadhero1.jpg"  alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"></a>
                <div class="card-body">
                  <h4 class="card-title">Sani – ad : Gadget Disinfectant</h4>
                  <p class="card-text">Sani-ad Gadget Disinfectant Spray comes with a strong disinfectant property that assures your gadgets are clean at all times.</p><br>
                   <div class="text-center"><a href="/articleList/Disinfectant" class="btn btn-primary">Shop Now</a></div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">
        <div class="row">
         <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <!-- img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"  alt="Card image cap" -->
                <a href="/articleList/Disinfectant"><img class="card-img-top" src="/image/products/herofrag1.jpg"  alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"></a>
                <div class="card-body">
                  <h4 class="card-title">Fragrant Mister</h4>
                  <p class="card-text">A triple-action germicidal spray cum room freshner and repelent, Air O'Pure Fragrant Mister is ideal for disinfecting most surfaces.</p>
                   <div class="text-center"><a href="/articleList/Disinfectant" class="btn btn-primary">Shop Now</a></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <!-- mg class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"  alt="Card image cap" -->
                 <a href="/articleList/Currency Counter"><img class="card-img-top" src="/image/products/CashClean100LV.jpg"  alt="Card image cap"  style="object-fit:contain;width:255px;height:170px;"></a>
                <div class="card-body">
                  <h4 class="card-title">CashClean 100 LV</h4>
                  <p class="card-text">Checks for genuineness of currency in mixed denominations and provides the denomination-wise count with total value.</p>
                   <div class="text-center"><a href="/articleList/Currency Counter" class="btn btn-primary">Shop Now</a></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <!-- img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"  alt="Card image cap"-->
               <a href="/articleList/Tea"><img class="card-img-top" src="/image/products/elaichichai.jpg"  alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"></a>
                <div class="card-body">
                  <h4 class="card-title">Calcutta Elaichi Chai</h4>
                  <p class="card-text">Taste the 'Taste of Elite India' from the 'City of Joy'.A unique mix of handpicked cardomom fresh of the plantations.</p>
                   <div class="text-center"><a href="/articleList/Tea" class="btn btn-primary">Shop Now</a></div>
                </div>
              </div>
            </div>
         
           <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <!-- img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap" style="object-fit:contain;width:255px;height:170px;" -->
                <a href="/articleList/Disinfectant"><img class="card-img-top" src="/image/products/herofcc1.jpg"  alt="Card image cap" style="object-fit:contain;width:255px;height:170px;"></a>
                <div class="card-body">
                  <h4 class="card-title">Floor Cleaning Concentrate</h4>
                  <p class="card-text">All natural and eco-friendly Cleaning Concentrate to keep your workplace safe and Mother Nature happy.</p><br>
                  <div class="text-center"> <a href="/articleList/Disinfectant" class="btn btn-primary">Shop Now</a></div>
                </div>
              </div>
            </div>
         
         
          </div>
        </div>
        
        </div>
        <!--/.Third slide-->

      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->


  </div>

<!--/ Grid Ou Produducts2-->



 <div th:replace="common/header2 :: footer"> </div> 
 
    
<script>
function myFunction() {
	  var x = document.getElementById("myTopnav");
	  if (x.className === "topnav") {
	    x.className += " responsive";
	  } else {
	    x.className = "topnav";
	  }
	}

</script>
  </body>
</html>
 
 
 
 
 
 
 
 
 
 
 
 
 